@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Conto Site</h1>
    <p class="lead">Example of Database First.</p>
</div>
<div>
    <h1>Login</h1>
    <h2>Admin</h2>
    @Html.ActionLink("Jobs of Admin", "Admin", "Home")<br />

    <h2>Student</h2>
    @Html.ActionLink("Jobs of Student", "Student", "Home")<br />

</div></div>